<div class="modal fade" id="event-show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Event</h4>
      </div>
      <div class="modal-body">
         <div class="jumbotron2">
          <h2 class="show-event-title">Title</h2>
          <h3 class="show-event-address"></h3>
          <h4> Guests. <span>People attending </span></h4><hr>
          <p>event description</p>
          <p>link to join event </p>
        </div>
    </div>
  </div>
</div>