.jumbotron {
  background: #fff;
  padding: 10px;
  width: 32em;
  border-bottom: 1px solid black;
}

.jumbotron2 {
  background:#fff;
  padding: 10px;
  border-bottom: 1px solid black;
}

.jumbotron h6 span{
  color: steelblue;
}

.jumbotron2 h6 span{
  color: steelblue;
}


