.jumbotron {
  background: #fff;
  padding: 10px;
}

.jumbotron2 {
  background:#fff;
  padding: 10px;
  border-bottom: 1px solid black;
}

.jumbotron h4 span{
  color: #bebebe;
}

.jumbotron2 h4 span{
  color: #bebebe;
}

#create-event-button :hover{
  color: red;
}

#create-event-button-div {

}

