.jumbotron {
  background: #fff;
  padding: 10px;
}

.jumbotron2 {
  background:#fff;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  border-style: solid;
  border-color: black;
}

.jumbotron h4 span{
  color: #bebebe;
}

#create-event-button {
  margin-bottom: 20px;
}

#creat-event-button-div {

}
