#map-canvas{
  height: 45em;
  width: 45%;
  z-index: -1;
  /*margin-right: 2em;*/
  float: right;
  position: fixed;
  overflow-y: hidden;
  top: 0;
  right: 2em;
}

#list-canvas {
  /*overflow-y: scroll;*/
  height: 45em;
  width: 45%;
  margin-left: 2em;
  float: left;
}

.event_image{
  height: auto;
  width: auto;
}

.col-sm-3 {
  padding-top: 5em;
}

.search_form{
  padding-top: 0.75em;
}

#search_button{
  background-color: rgba(104, 83, 151, 1);
  color: white;
  border: 0px;
  margin-left: 1em;
}

