#map-canvas{
  height: 45em;
  width: 97%;
  margin-right: auto;
  margin-left: auto;
}

.event_image{
  height: auto;
  width: auto;
}

.col-sm-3 {
  padding-top: 5em;
}

.searcher{
  padding-top: 0.75em;
}